@import "./constants.scss";

.container {
  width: 100%;
  padding: 0 20px;

  @media screen and (min-width: $md) {
    max-width: $md;
    margin: 0 auto;
  }
}

.page {
  @extend .container;
  padding: 60px 20px 20px;
}
