nav {
  &.header {
    display: flex;
    gap: 10px;

    a {
      color: whitesmoke;
      text-decoration: none;
      padding: 10px;

      &.active {
        color: darken($color: whitesmoke, $amount: 25%);
        cursor: default;
      }

      &:hover:not(.active) {
        background-color: #555555;
      }
    }
  }
}
